@font-face {
    font-family: "Font";
    src: url(../storage/fonts/Gabarito-Medium-BF651cdf1f3f18e.ttf);
}
@font-face {
    font-family: "Font2";
    src: url(../storage/fonts/MPLUS1p-Regular.ttf);
}
@font-face {
    font-family: "Font3";
    src: url(../storage/fonts/MPLUS1p-Light.ttf);
}
body{
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
}
.header_container{

    background-color: #F8CB69;
    padding-top: -2vw;
    width: 100%;
    height: fit-content;
    padding-bottom: 2vw;
    border-top-right-radius: 17vw;
    align-items: center;
}
.flecha{
    width: 5vw;
    top: -6vw;
    margin-left: 1vw;
    position: relative;
}
.logo{
    width: 17vw;
    padding: 0%;
    margin-left: 2vw;
    height: 17vw;
    margin-top: -4vw;
}
.text_header{
    width: fit-content;
    align-self: center;
    margin-left: 26vw;
    font-family: "Font3";
    font-size: 3.2vw;
    margin-top: -6vw;
    word-spacing: -0.3vw;
    color: rgb(255, 255, 255);
    
   
 
}
.busqueda_container{
    display: flex;
    justify-content:space-evenly; 
    padding-top: 2vw;
}
.busqueda_conteiner_especie{
    display: flex;
    flex-direction: column;
    width: 12vw;
    align-items: center;
    font-family: "Font";
    font-size: 4vw;
    gap: 1vw;
   
}
.especie_select{
    font-family: "Font2";
    font-size: 1vw;
    width: 16vw;
    height: 2.3vw;
    border-radius: 0.5vw;
    border-radius: 12px;
    padding: 8px;
    border: 0.1vw solid #910dac;
    background-color: #ffffff;

}

.busqueda_conteiner_edad{
    display: flex;
    flex-direction: column;
    width: 12vw;
    align-items: center;
    font-family: "Font";
    font-size: 4vw;
    gap: 0.5vw;
}
.busqueda_conteiner_ciudad{
    display: flex;
    flex-direction: column;
    width: 12vw;
    align-items: center;
    font-family: "Font";
    font-size: 4vw;
    gap: 1vw;
}

.mascotas_container{
    display: grid;
    padding: 4vw;
    column-gap: 2vw;
    row-gap: 3vw;
    grid-template-columns: auto auto auto auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.mascota{
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    width: 18vw;
    margin: 2vw;  
    padding-bottom: 2vw;
}
.imagen_mascota{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    object-fit: cover;
    
}
.imagen_mascota_container{
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
.nombre_mascota{
    font-size: 2vw;
    margin-top: 0vw;
    font-family: "Font";
    padding: 0%;
    margin-left: 1vw;
}
.tamaño_mascota{
    font-size: 1.5vw;
    margin-top: -2vw;
    font-family: "Font3";
    margin-left: 1vw;
    padding-bottom: 1vw;
}
.genero_mascota{
    font-size: 1vw;
    margin-top: -2vw;
    font-family: "Font";
    margin-left: 1.2vw;
}
.lugar_mascota{
    font-size: 1.2vw;
    font-family: "Font";
    margin-left: 1vw;
    margin-top: 0vw;
}
.mascota:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
  }
  .botones_container{
    display: flex;
    gap: 4vw;
  }
  .boton_information {
    background-color: #FF9F68;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 0.8vw;
    font-size: 1vw;
    font-family: "Font";
    margin-left: 1vw;
  }
  .imagen_corazon{
    width: 3vw;
  }
  .mascota:nth-child(even) {
    background-color: #E0BBE4;
  }
  .mascota:nth-child(odd) {
    background-color: #f0efe7;
  }
  .mascota{
    box-shadow: 0 4px 12px rgba(37, 32, 32, 0.658);
  }