@font-face {
    font-family: "Font";
    src: url(../storage/font/fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: "Font2";
    src: url(../storage/font/fonts/Lato-Light.ttf);
}
@font-face {
    font-family: "Font3";
    src: url(../storage/font/fonts/Lato-Regular.ttf);
}
body{
    margin: 0%;
    padding: 1%;

}

.main_container{
  
    width: 50vw;
    max-height: fit-content;
    margin-left: 25%;
    border: 2px solid rgba(0, 0, 0, 0.356);
    border-radius: 20px;
}
.title{
    background-color: rgba(148, 147, 147, 0.164);
    padding: 0.7vw;
    margin-top: 0vw;
    color: black;
    font-family: "Font2";
    font-weight: 8px;
    font-size: 0.9vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.267);
}
.title2{
    font-family: "Font2";
    font-size: 1vw;
    margin-left: 1vw;
}

.info_container{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 2vw;
    padding-top: -3vw;
    margin-top: -1vw;

}

.nombre_personaje{
    font-size: 0.7vw;
    font-family: "Font3";
}
.input_nombre_personaje{
    width: 22vw;
    height: 1.5vw;
    border-radius: 12px;
    border: 1px solid gray;
}
.nombre_actor{
    font-size: 0.7vw;
    font-family: "Font3";
}
.input_nombre_actor{
    width: 22vw;
    height: 1.5vw;
    border-radius: 12px;
    border: 1px solid gray;
}
.edad_actor{
    font-size: 0.7vw;
    font-family: "Font3";
}
.input_edad_actor{
    width: 22vw;
    height: 1.5vw;
    border-radius: 12px;
    border: 1px solid gray;
}
.ubicacion{
    font-size: 0.7vw;
    font-family: "Font3";
}
.input_ubicacion{
    width: 22vw;
    height: 1.5vw;
    border-radius: 12px;
    border: 1px solid gray;
}
.ubicacion_text{
    font-size: 0.5vw;
    font-family: "Font3";
    color: rgba(0, 0, 0, 0.733);
}
.fecha{
    font-size: 0.7vw;
    font-family: "Font3";
}
.input_fecha{
    width: 22vw;
    height: 1.5vw;
    font-size: 0.7vw;
    font-family: "Font3";
    padding-left: 0.4vw;
    border-radius: 12px;
    border: 1px solid gray;
}
.poster{
    font-size: 0.7vw;
    font-family: "Font3";
}
.input_poster{
    width: 22vw;
    height: 1.5vw;
    border-radius: 12px;
    border: 1px solid gray;
}

.productora_container{
    padding-left: 2vw;
}
.productora{
    font-size: 0.7vw;
    font-family: "Font3";
    
}
#option{
    width: 46.4vw;
    height: 1.5vw;
    font-size: 0.5vw;
    font-family: "Font3";
    border-radius: 12px;
    border: 1px solid gray;
    background-color: white;
}
.text_select{
    font-size: 0.5vw;
    font-family: "Font3";
}
.text_select_marvel{
    font-size: 0.5vw;
    font-family: "Font3";
}
input:not(:focus)  {
    background-color: rgba(192, 193, 204, 0.322); 
  }
.botones_container{
    width: 17vw;
    padding: 1vw;
    padding-left: 2vw;
    display: flex;
    justify-content: space-evenly;
}
.boton_new{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 0.7vw;
    font-family: "Font3";
    width: 5vw;
    height: 1.5vw;
    line-height: 1.5vw;
    text-align: center;
    border-radius: 7px;
    border: none;
}
.boton_guardar{
    background-color: rgb(46, 49, 216);
    color: white;
    font-size: 0.7vw;
    font-family: "Font3";
    width: 6vw;
    height: 1.5vw;
    line-height: 1.5vw;
    text-align: center;
    border-radius: 7px;
    border: none;
}
.boton_cancelar{
    background-color: rgb(189, 48, 48);
    color: white;
    font-size: 0.7vw;
    font-family: "Font3";
    width: 5vw;
    height: 1.5vw;
    line-height: 1.5vw;
    text-align: center;
    border-radius: 7px;
    border: none;
}
.registro_container{
    width: 46.4vw;
    max-height: fit-content;
    margin-top: 1vw;
    font-size: 0.5vw;
    font-family: "Font3";
    border-radius: 12px;
    border: 1px solid gray;
    padding-bottom: 2vw;
}
.resgistro_header{
    background-color: rgba(148, 147, 147, 0.164);
    padding: 0.7vw;
    margin-top: 0vw;
    color: black;
    font-family: "Font2";
    font-weight: 8px;
    font-size: 0.9vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid rgba(40, 52, 107, 0.267);

}
.resgistro_title{
    color: blue;
    font-family: "Font3";
    font-size: 1vw;
    padding-left: 1vw;
}
.registro_title2{
    color: blue;
    font-family: "Font3";
    font-size: 0.8vw;
    padding-left: 1vw;
}
.mas{
    background-color: rgb(231, 209, 13);
    padding: 5px;
    border-radius: 0.2vw;
    border: none;
    width: 1.3vw;
    font-size: 1.3vw;
    margin-left: 1vw;
}
.nombre_traje{
    color: blue;
    font-family: "Font3";
    font-size: 0.8vw;
    padding-left: 5vw;
}
.nombre_traje_container{
    width: 22vw;
    height: 1.5vw;
    border-radius: 12px;
    border: 1px solid gray;
    padding-left: 8vw;
    margin-left: 5vw;
}
.menos{
    background-color: rgb(218, 29, 29);
    padding: 5px;
    width: 1.3vw;
    border-radius: 0.2vw;
    border: none;
    font-size: 1.3vw;
    margin-left: 24vw;
}