@font-face {
    font-family: "Font";
    src: url(../storage/font/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Font2";
    src: url(../storage/font/fonts/Lato-BlackItalic.ttf);
}
body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(255, 255, 255);
}
.personajes_container{
    display: flex;
    align-items: center;
    flex-direction: column;

}
h1{
    font-family: "Font";
    font-size: 4vw;
}
#option{
    padding: 1vw;
    font-size: 1vw;
    border: 4px;
    background-image: linear-gradient(rgb(0, 64, 255), rgb(137, 91, 187)); ;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    width: 20vw;
    font-family: "Font2";
}
.submit{
    padding: 1vw;
    font-size: 1vw;
    border: 4px;
    background-image: linear-gradient(rgb(83, 4, 125), rgb(66, 97, 218)); ;
    border-radius: 10px;
    color: aliceblue;
    width: 5vw;
    font-family: "Font2";
}
.submit:hover{
    cursor: pointer;
}
.resultado{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 50vw;
}